<div class="submit-form">
  <div>
    <div class="form-group my-2">
      <label for="name">Name</label>
      <input type="text" class="form-control"  [(ngModel)]="newCharacter.name" />
    </div>
    <div class="form-group my-2">
      <label for="gender">Status</label>
      <input type="text" class="form-control" [(ngModel)]="newCharacter.status" />
    </div>
    <div class="form-group my-2">
      <label for="species">Species</label>
      <input type="text" class="form-control" [(ngModel)]="newCharacter.species"/>
    </div>
    <div class="form-group my-2">
      <label for="location">Origin</label>
      <input type="text" class="form-control" [(ngModel)]="newCharacter.origin"/><br>
      <div>
        <button (click)="saveCharacter()" class="btn btn-success">Add</button>
      </div>

</div>


