<div class="submit-form">
  <div *ngIf="!submitted">
    <div class="form-group my-2">
      <label for="name">Name</label>
      <input type="text" class="form-control"  required [(ngModel)]="character.name" />
    </div>
    <div class="form-group my-2">
      <label for="gender">Status</label>
      <input type="text" class="form-control" [(ngModel)]="character.status" required />
    </div>
    <div class="form-group my-2">
      <label for="species">Species</label>
      <input type="text" class="form-control" [(ngModel)]="character.species" required />
    </div>
    <div class="form-group my-2">
      <label for="location">Origin</label>
      <input type="text" class="form-control" [(ngModel)]="character.origin" required />
    </div>

    <button (click)="saveCharacter()" class="btn btn-success mt-3 btn-blue">Submit</button>
  </div>
  <div *ngIf="submitted">
    <h4>Character added correctly</h4>
    <button (click)="newCharacter()" class="btn btn-success">Add</button>
  </div>
</div>


